@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
    font-family: 'SeoulNamsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'SeoulNamsan', Arial, Helvetica, sans-serif;
}

.right-top-xboxBtn{
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -0.25rem;
  right: 0.25rem ;
  z-index: 50;
}